<a href="{{productUrl}}" class="box">
  <div class="box-icon">
    <img src="{{symbole}}" alt="{{collectionName}} symbole" />
  </div>
  <div class="box-title">{{productName}}</div>
  <div class="box-label">{{collectionName}}</div>

  <div class="box-image">
    <img src="{{imageUrl}}" alt="{{productName}}" />
  </div>
  <div class="studio-button">
    <div class="studio-button-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="12" cy="12" r="10"></circle>
      </svg>
    </div>
    <div class="studio-button-label">Voir le produit</div>
  </div>
</a>
