// _variables.scss

// 🎨 Couleurs
$primary: #dfaf4f;
$secondary: #bf8821;
$color-text: #38404b;
$dark: #111;
$light: #f9f9f9;
$color-bg: #f5ebd4;
$color-glass: rgba(255, 255, 255, 0.1);
$color-border: rgba(255, 255, 255, 0.2);

// 🧱 Structure
$container-width: 1400px;
$radius: 20px;

// ✍️ Typo
$font-main: "Raleway", sans-serif;
$font-title: "Cormorant Garamond", serif;
$font-alpino: "Raleway";
$font-alpino-reg: "Raleway";
$font-size-base: 16px;
$font-size-l: 30px;
$font-size-xl: 100px;
$font-size-xxl: 150px;

// 🕶 Effets
$blur: 10px;
$shadow: 0 0 10px rgba(49, 47, 47, 0.3);
$shadow-white: 0 0 5px rgba(203, 197, 197, 0.3);
$text-shadow-light: 1px 1px 2px rgba(47, 46, 46, 0.2);
$text-shadow-strong: 2px 4px 5px rgba(47, 46, 46, 0.5);
$shadow-button-music: rgba(0, 0, 0, 0.377) 4px 6px 4px,
  #ffffff 1.5px 1.5px 2px 0px inset, #c7c3c0 -3.2px -3.2px 8px 0px inset;
