@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../base/functions" as *;

.btn {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;

  &--primary {
    background: $primary;
    color: #fff;

    &:hover {
      background: rgb(255, 8, 210);
    }
  }
}

// ----------------- //
// BUTTONS INDEX.   //
// --------------- //
