@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../base/functions" as *;

// ==================================== //
// ====== MEGA MENU NOS PRODUITS ===== //
// ================================== //

.nav_item_with_mega {
  position: static;
}

.mega_menu {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background: $dark;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  padding: 3rem 0;
  top: 80px;
}

.menucollections {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background: $light;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  padding: 3rem 0;
  top: 80px;
}

.nav_item_with_mega:hover .mega_menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.mega_menu_container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 1.5rem;
  column-gap: 4rem;
}

.collection_item {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 8px;
}

.collection_item:hover {
  background-color: #e1dddd;
}

.collection_item img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  flex-shrink: 0;
}

.icon-product {
  display: none;
}

.collection_item img {
  display: none;
}

.collection_item_content {
  display: flex;
  flex-direction: column;
}

.collection_item h3 {
  font-size: 1rem;
  color: $dark;
  margin: 0 0 0.25rem 0;
  font-weight: 500;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding-right: 0.6rem;
  cursor: pointer;
  border-radius: 8px;
}

.product-item:hover {
  background-color: $primary;
}

.product-item img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  flex-shrink: 0;
}

.icon-product {
  display: none;
}

.collection_item_content {
  display: flex;
  flex-direction: column;
}

.product-item h3 {
  font-size: 1rem;
  color: $light;
  margin: 0 0 0.25rem 0;
  font-weight: 500;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.4));
}

@media (max-width: 768px) {
  .nav_links {
    display: none;
  }

  .nav_burger {
    display: flex;
  }

  .mega_menu_container {
    grid-template-columns: 1fr;
  }
}
